<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.squidwrench.gameworks.tictactoe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ttticon"
        android:label="@string/app_name" >
        <activity
            android:name="org.squidwrench.gameworks.tictactoe.Splash"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.squidwrench.gameworks.tictactoe.TicTacToe"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.squidwrench.gameworks.tictactoe.TICTACTOE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>